<a href="https://colab.research.google.com/github/SusmitWani/NNFL-Course-Fall-2020/blob/master/Assignment1_Unified_Learning_Rule.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Importing required libraries

In [1]:
import numpy as np
import pandas as pd

#Importing and cleaning the dataframe.
######*Dataset taken from an event organised by CTE BITS Goa*

In [2]:
df = pd.read_csv('/content/drive/My Drive/cte-ml-hack-2019/train_real.csv')
for i in range (len(df.Soil)):
  df.Soil[i] = df.Soil[i][10:]
df.Soil = df.Soil.astype(int)
df.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

   Id  Altitude  Azimuthal_angle  ...  Wilderness_Area_D  Soil  label
0   1       594              738  ...                  0    23     -1
1   2       343              103  ...                  0    10     -1
2   3       563              233  ...                  0     1     -1
3   4       715              602  ...                  0    32     -1
4   5       672              519  ...                  0    32     -1

[5 rows x 17 columns]

#####Check if there are any missing entries or object data

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12395 entries, 0 to 12394
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Id                 12395 non-null  int64
 1   Altitude           12395 non-null  int64
 2   Azimuthal_angle    12395 non-null  int64
 3   Incline            12395 non-null  int64
 4   H_dist_Hydro       12395 non-null  int64
 5   V_dist_Hydro       12395 non-null  int64
 6   H_dist_Road        12395 non-null  int64
 7   Hillshade_9am      12395 non-null  int64
 8   Hillshade_Noon     12395 non-null  int64
 9   Hillshade_3pm      12395 non-null  int64
 10  H_dist_Fire        12395 non-null  int64
 11  Wilderness_Area_A  12395 non-null  int64
 12  Wilderness_Area_B  12395 non-null  int64
 13  Wilderness_Area_C  12395 non-null  int64
 14  Wilderness_Area_D  12395 non-null  int64
 15  Soil               12395 non-null  int64
 16  label              12395 non-null  int64
dtypes: int64(17)
memory usage: 1.6 MB

In [4]:
X = df[['Altitude', 'Azimuthal_angle', 'Incline', 'H_dist_Hydro',
       'V_dist_Hydro', 'H_dist_Road', 'Hillshade_9am', 'Hillshade_Noon',
       'Hillshade_3pm', 'H_dist_Fire', 'Wilderness_Area_A',
       'Wilderness_Area_B', 'Wilderness_Area_C', 'Wilderness_Area_D', 'Soil']]
y = df['label']

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=42)

#Code to actually train the perceptron

In [6]:
#Function will return value -1 if input is negative. Else will return 1

def modified_sigmoid(n):
    sig = 1/(1+(np.exp(-n)))
    if sig<0.5:
        return -1
    return 1

In [7]:
#Function will initialize W and b vectors as zeros of required dimensions.

def initialize(X):
    num_cols = X.shape[1]
    num_data = X.shape[0]

    W = np.zeros([num_cols,])
    b = 0
    return W, b, num_data

In [8]:
#Function where actual learning takes place by the Unified Learning Rule

def train_ULR(X_train, y_train):
    W, b, num_data = initialize(X_train)
    for i in range(num_data):
        y_pred = modified_sigmoid((np.dot(W.T, X_train.iloc[i].values) + b).reshape(1))
        e = y[i] - y_pred
        if e==2:
            W = W + X_train.iloc[i].values
            b = b + 1
        elif e==-2:
            W = W - X_train.iloc[i].values
            b = b - 1
    return W, b

W_final, b_final = train_ULR(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: RuntimeWarning: overflow encountered in exp
  after removing the cwd from sys.path.

In [9]:
#Function which validates the obtained W and b values on the validation set

def validation(X_test, y_test, W_final, b_final):
    num_data = X_test.shape[0]
    correct_pred = 0
    y_pred = []
    for i in range(num_data):
        y_pred = (modified_sigmoid(np.dot(W_final.T, X_test.iloc[i].values) + b_final))
        if y_pred==y_test.iloc[i]:
            correct_pred = correct_pred+1
    accuracy = correct_pred/num_data
    return accuracy

accuracy = validation(X_test, y_test, W_final, b_final)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: RuntimeWarning: overflow encountered in exp
  after removing the cwd from sys.path.

In [10]:
accuracy

0.8204921339249698